# Target Environment (qa | stage | prod)
ENV=qa

# Base URL
BASE_URL=https://www.saucedemo.com

# Headless Execution Mode (true | false)
HEADLESS=true

# Environment Test Credentials
TEST_USERNAME=standard_user
TEST_PASSWORD=secret_sauce

# Multi-Role Test Credentials
ERROR_USER_USERNAME=error_user
ERROR_USER_PASSWORD=secret_sauce
