# Node & Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/artifacts/.auth/
/artifacts/reports/
/artifacts/screenshots/

# Environment files & Secrets (Do not commit secrets to Git)
.env
.env.*
!.env.example
